# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# ignore the directory made by straight
/straight/

# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local

